/* Usage
@include declare-font-face('FontName', 'font-filename', 400);

@media screen and (-webkit-min-device-pixel-ratio:0) {
@include svg-font-face('FontName', 'font-filename', 400);
}
*/
/* line 7, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
.sweet-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

/* line 13, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
.sweet-alert {
  background-color: white;
  font-family: 'Arial', sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }
  @media all and (max-width: 540px) {
    .sweet-alert {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      left: 15px;
      right: 15px; } }
  /* line 35, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  .sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block; }
  /* line 47, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  .sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal; }
  /* line 59, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  .sweet-alert button {
    background-color: #AEDEF4;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer; }
    /* line 70, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
    .sweet-alert button:focus {
      outline: none;
      -webkit-box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
      box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
    /* line 74, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
    .sweet-alert button:hover {
      background-color: #a1d9f2; }
    /* line 77, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
    .sweet-alert button:active {
      background-color: #81ccee; }
    /* line 80, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
    .sweet-alert button.cancel {
      background-color: #D0D0D0; }
      /* line 82, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert button.cancel:hover {
        background-color: #c8c8c8; }
      /* line 85, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert button.cancel:active {
        background-color: #b6b6b6; }
      /* line 89, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert button.cancel:focus {
        -webkit-box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important;
        -moz-box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important;
        box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }
    /* line 94, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
    .sweet-alert button::-moz-focus-inner {
      border: 0; }
  /* line 99, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  .sweet-alert[data-has-cancel-button=false] button {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  /* line 102, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  .sweet-alert .icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box; }
    /* line 115, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
    .sweet-alert .icon.error {
      border-color: #F27474; }
      /* line 117, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert .icon.error .x-mark {
        position: relative;
        display: block; }
      /* line 121, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert .icon.error .line {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: #F27474;
        display: block;
        top: 37px;
        border-radius: 2px; }
        /* line 129, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
        .sweet-alert .icon.error .line.left {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          left: 17px; }
        /* line 133, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
        .sweet-alert .icon.error .line.right {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          right: 16px; }
    /* line 139, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
    .sweet-alert .icon.warning {
      border-color: #F8BB86; }
      /* line 141, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert .icon.warning .body {
        position: absolute;
        width: 5px;
        height: 47px;
        left: 50%;
        top: 10px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #F8BB86; }
      /* line 151, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert .icon.warning .dot {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        left: 50%;
        bottom: 10px;
        background-color: #F8BB86; }
    /* line 162, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
    .sweet-alert .icon.info {
      border-color: #C9DAE1; }
      /* line 164, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert .icon.info::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 29px;
        left: 50%;
        bottom: 17px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #C9DAE1; }
      /* line 175, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert .icon.info::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        top: 19px;
        background-color: #C9DAE1; }
    /* line 186, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
    .sweet-alert .icon.success {
      border-color: #A5DC86; }
      /* line 188, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert .icon.success::before, .sweet-alert .icon.success::after {
        content: '';
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        width: 60px;
        height: 120px;
        background: white;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      /* line 197, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert .icon.success::before {
        border-radius: 120px 0 0 120px;
        top: -7px;
        left: -33px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 60px 60px;
        transform-origin: 60px 60px; }
      /* line 205, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert .icon.success::after {
        border-radius: 0 120px 120px 0;
        top: -11px;
        left: 30px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0px 60px;
        transform-origin: 0px 60px; }
      /* line 213, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert .icon.success .placeholder {
        width: 80px;
        height: 80px;
        border: 4px solid rgba(165, 220, 134, 0.2);
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        -ms-box-sizing: content-box;
        -o-box-sizing: content-box;
        box-sizing: content-box;
        position: absolute;
        left: -4px;
        top: -4px;
        z-index: 2; }
      /* line 224, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert .icon.success .fix {
        width: 5px;
        height: 90px;
        background-color: white;
        position: absolute;
        left: 28px;
        top: 8px;
        z-index: 1;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      /* line 234, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
      .sweet-alert .icon.success .line {
        height: 5px;
        background-color: #A5DC86;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 2; }
        /* line 241, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
        .sweet-alert .icon.success .line.tip {
          width: 25px;
          left: 14px;
          top: 46px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        /* line 247, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
        .sweet-alert .icon.success .line.long {
          width: 47px;
          right: 8px;
          top: 38px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    /* line 255, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
    .sweet-alert .icon.custom {
      background-size: contain;
      -webkit-border-radius: 0;
      -khtml-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat; }

/*
* Animations
*/
@-webkit-keyframes showSweetAlert {
  /* line 270, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }

  /* line 271, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }

  /* line 272, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }

  /* line 273, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@-moz-keyframes showSweetAlert {
  /* line 270, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }

  /* line 271, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }

  /* line 272, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }

  /* line 273, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@-ms-keyframes showSweetAlert {
  /* line 270, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }

  /* line 271, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }

  /* line 272, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }

  /* line 273, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@-o-keyframes showSweetAlert {
  /* line 270, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }

  /* line 271, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }

  /* line 272, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }

  /* line 273, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes showSweetAlert {
  /* line 270, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }

  /* line 271, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }

  /* line 272, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }

  /* line 273, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@-webkit-keyframes hideSweetAlert {
  /* line 276, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }

  /* line 277, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@-moz-keyframes hideSweetAlert {
  /* line 276, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }

  /* line 277, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@-ms-keyframes hideSweetAlert {
  /* line 276, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }

  /* line 277, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@-o-keyframes hideSweetAlert {
  /* line 276, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }

  /* line 277, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@keyframes hideSweetAlert {
  /* line 276, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }

  /* line 277, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

/* line 279, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
.showSweetAlert {
  -webkit-animation: showSweetAlert 0.3s;
  -moz-animation: showSweetAlert 0.3s;
  -ms-animation: showSweetAlert 0.3s;
  -o-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }
  /* line 281, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  .showSweetAlert[data-animation=none] {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none; }

/* line 285, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
.hideSweetAlert {
  -webkit-animation: hideSweetAlert 0.2s;
  -moz-animation: hideSweetAlert 0.2s;
  -ms-animation: hideSweetAlert 0.2s;
  -o-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s; }
  /* line 288, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  .hideSweetAlert[data-animation=none] {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none; }

@-webkit-keyframes animateSuccessTip {
  /* line 294, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    width: 0;
    left: 1px;
    top: 19px; }

  /* line 295, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  54% {
    width: 0;
    left: 1px;
    top: 19px; }

  /* line 296, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }

  /* line 297, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }

  /* line 298, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@-moz-keyframes animateSuccessTip {
  /* line 294, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    width: 0;
    left: 1px;
    top: 19px; }

  /* line 295, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  54% {
    width: 0;
    left: 1px;
    top: 19px; }

  /* line 296, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }

  /* line 297, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }

  /* line 298, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@-ms-keyframes animateSuccessTip {
  /* line 294, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    width: 0;
    left: 1px;
    top: 19px; }

  /* line 295, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  54% {
    width: 0;
    left: 1px;
    top: 19px; }

  /* line 296, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }

  /* line 297, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }

  /* line 298, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@-o-keyframes animateSuccessTip {
  /* line 294, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    width: 0;
    left: 1px;
    top: 19px; }

  /* line 295, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  54% {
    width: 0;
    left: 1px;
    top: 19px; }

  /* line 296, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }

  /* line 297, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }

  /* line 298, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessTip {
  /* line 294, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    width: 0;
    left: 1px;
    top: 19px; }

  /* line 295, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  54% {
    width: 0;
    left: 1px;
    top: 19px; }

  /* line 296, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }

  /* line 297, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }

  /* line 298, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@-webkit-keyframes animateSuccessLong {
  /* line 301, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    width: 0;
    right: 46px;
    top: 54px; }

  /* line 302, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  65% {
    width: 0;
    right: 46px;
    top: 54px; }

  /* line 303, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }

  /* line 304, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@-moz-keyframes animateSuccessLong {
  /* line 301, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    width: 0;
    right: 46px;
    top: 54px; }

  /* line 302, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  65% {
    width: 0;
    right: 46px;
    top: 54px; }

  /* line 303, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }

  /* line 304, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@-ms-keyframes animateSuccessLong {
  /* line 301, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    width: 0;
    right: 46px;
    top: 54px; }

  /* line 302, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  65% {
    width: 0;
    right: 46px;
    top: 54px; }

  /* line 303, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }

  /* line 304, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@-o-keyframes animateSuccessLong {
  /* line 301, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    width: 0;
    right: 46px;
    top: 54px; }

  /* line 302, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  65% {
    width: 0;
    right: 46px;
    top: 54px; }

  /* line 303, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }

  /* line 304, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes animateSuccessLong {
  /* line 301, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    width: 0;
    right: 46px;
    top: 54px; }

  /* line 302, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  65% {
    width: 0;
    right: 46px;
    top: 54px; }

  /* line 303, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }

  /* line 304, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@-webkit-keyframes rotatePlaceholder {
  /* line 307, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  /* line 308, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  /* line 309, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }

  /* line 310, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

@-moz-keyframes rotatePlaceholder {
  /* line 307, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  /* line 308, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  /* line 309, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }

  /* line 310, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

@-ms-keyframes rotatePlaceholder {
  /* line 307, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  /* line 308, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  /* line 309, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }

  /* line 310, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

@-o-keyframes rotatePlaceholder {
  /* line 307, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  /* line 308, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  /* line 309, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }

  /* line 310, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

@keyframes rotatePlaceholder {
  /* line 307, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  /* line 308, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  /* line 309, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }

  /* line 310, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

/* line 312, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  -moz-animation: animateSuccessTip 0.75s;
  -ms-animation: animateSuccessTip 0.75s;
  -o-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s; }

/* line 315, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  -moz-animation: animateSuccessLong 0.75s;
  -ms-animation: animateSuccessLong 0.75s;
  -o-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s; }

/* line 318, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
.icon.success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  -moz-animation: rotatePlaceholder 4.25s ease-in;
  -ms-animation: rotatePlaceholder 4.25s ease-in;
  -o-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
  /* line 323, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }

  /* line 324, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

@-moz-keyframes animateErrorIcon {
  /* line 323, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }

  /* line 324, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

@-ms-keyframes animateErrorIcon {
  /* line 323, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }

  /* line 324, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

@-o-keyframes animateErrorIcon {
  /* line 323, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }

  /* line 324, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

@keyframes animateErrorIcon {
  /* line 323, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }

  /* line 324, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

/* line 326, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  -moz-animation: animateErrorIcon 0.5s;
  -ms-animation: animateErrorIcon 0.5s;
  -o-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
  /* line 330, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  /* line 331, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  /* line 332, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }

  /* line 333, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

@-moz-keyframes animateXMark {
  /* line 330, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  /* line 331, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  /* line 332, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }

  /* line 333, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

@-ms-keyframes animateXMark {
  /* line 330, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  /* line 331, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  /* line 332, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }

  /* line 333, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

@-o-keyframes animateXMark {
  /* line 330, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  /* line 331, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  /* line 332, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }

  /* line 333, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

@keyframes animateXMark {
  /* line 330, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  /* line 331, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  /* line 332, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }

  /* line 333, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

/* line 335, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  -moz-animation: animateXMark 0.5s;
  -ms-animation: animateXMark 0.5s;
  -o-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s; }

@-webkit-keyframes pulseWarning {
  /* line 340, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    border-color: #F8D486; }

  /* line 341, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    border-color: #F8BB86; } }

@-moz-keyframes pulseWarning {
  /* line 340, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    border-color: #F8D486; }

  /* line 341, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    border-color: #F8BB86; } }

@-ms-keyframes pulseWarning {
  /* line 340, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    border-color: #F8D486; }

  /* line 341, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    border-color: #F8BB86; } }

@-o-keyframes pulseWarning {
  /* line 340, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    border-color: #F8D486; }

  /* line 341, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    border-color: #F8BB86; } }

@keyframes pulseWarning {
  /* line 340, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    border-color: #F8D486; }

  /* line 341, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    border-color: #F8BB86; } }

/* line 343, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  -moz-animation: pulseWarning 0.75s infinite alternate;
  -ms-animation: pulseWarning 0.75s infinite alternate;
  -o-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
  /* line 347, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    background-color: #F8D486; }

  /* line 348, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    background-color: #F8BB86; } }

@-moz-keyframes pulseWarningIns {
  /* line 347, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    background-color: #F8D486; }

  /* line 348, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    background-color: #F8BB86; } }

@-ms-keyframes pulseWarningIns {
  /* line 347, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    background-color: #F8D486; }

  /* line 348, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    background-color: #F8BB86; } }

@-o-keyframes pulseWarningIns {
  /* line 347, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    background-color: #F8D486; }

  /* line 348, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    background-color: #F8BB86; } }

@keyframes pulseWarningIns {
  /* line 347, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  0% {
    background-color: #F8D486; }

  /* line 348, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  100% {
    background-color: #F8BB86; } }

/* line 350, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  -moz-animation: pulseWarningIns 0.75s infinite alternate;
  -ms-animation: pulseWarningIns 0.75s infinite alternate;
  -o-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate; }

@media screen and (max-width: 567px) {
  /* line 355, D:/syncdata/Downloads/wptheme/style/_sweetAlert.scss */
  .sweet-alert {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-left: 0;
    max-width: 94%; } }

/* line 5, D:/syncdata/Downloads/wptheme/style/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/* line 6, D:/syncdata/Downloads/wptheme/style/style.scss */
audio, canvas, video, progress {
  vertical-align: baseline;
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 7, D:/syncdata/Downloads/wptheme/style/style.scss */
audio:not([controls]), [hidden], template {
  display: none;
  height: 0; }

/* line 8, D:/syncdata/Downloads/wptheme/style/style.scss */
mark {
  background: none; }

/* line 9, D:/syncdata/Downloads/wptheme/style/style.scss */
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

/* line 10, D:/syncdata/Downloads/wptheme/style/style.scss */
sup {
  top: -.5em; }

/* line 11, D:/syncdata/Downloads/wptheme/style/style.scss */
sub {
  bottom: -.25em; }

/* line 12, D:/syncdata/Downloads/wptheme/style/style.scss */
pre {
  overflow: auto; }

/* line 13, D:/syncdata/Downloads/wptheme/style/style.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 14, D:/syncdata/Downloads/wptheme/style/style.scss */
html, body {
  height: 100%;
  margin: 0; }

/* line 15, D:/syncdata/Downloads/wptheme/style/style.scss */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }
  /* line 16, D:/syncdata/Downloads/wptheme/style/style.scss */
  html > body {
    height: auto;
    min-height: 100%; }

/* line 22, D:/syncdata/Downloads/wptheme/style/style.scss */
a {
  color: #3399ff;
  text-decoration: none;
  outline: 0 none; }
  /* line 26, D:/syncdata/Downloads/wptheme/style/style.scss */
  a:hover {
    outline: 0 none; }
  /* line 27, D:/syncdata/Downloads/wptheme/style/style.scss */
  a > img {
    border: 0; }

/* line 44, D:/syncdata/Downloads/wptheme/style/style.scss */
input[type='text'], input[type='email'], input[type='password'], input[type='color'], input[type='url'], input[type='image'], input[type='tel'], input[type='submit'], input[type='file'], input[type='range'], input[type='reset'], input[type='button'], input[type='search'], button, textarea, select {
  -webkit-appearance: none;
  outline: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* line 50, D:/syncdata/Downloads/wptheme/style/style.scss */
* {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  -webkit-tap-highlight-color: transparent; }

/* line 51, D:/syncdata/Downloads/wptheme/style/style.scss */
img {
  max-width: 100%;
  height: auto;
  width: auto\9; }

/* line 52, D:/syncdata/Downloads/wptheme/style/style.scss */
p {
  padding-bottom: 20px; }

/* line 53, D:/syncdata/Downloads/wptheme/style/style.scss */
ul, ol {
  list-style: none; }

/* line 54, D:/syncdata/Downloads/wptheme/style/style.scss */
#wrap {
  min-height: 100%; }

/* line 57, D:/syncdata/Downloads/wptheme/style/style.scss */
.clear {
  clear: both; }

/* line 58, D:/syncdata/Downloads/wptheme/style/style.scss */
.cfx:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 59, D:/syncdata/Downloads/wptheme/style/style.scss */
html[xmlns] .cfx {
  display: block; }

/* line 60, D:/syncdata/Downloads/wptheme/style/style.scss */
* html .cfx {
  height: 1%; }

/* line 63, D:/syncdata/Downloads/wptheme/style/style.scss */
::-moz-selection {
  color: #fff;
  background: #3399ff; }

/* line 64, D:/syncdata/Downloads/wptheme/style/style.scss */
::selection {
  color: #fff;
  background: #3399ff; }

/* line 65, D:/syncdata/Downloads/wptheme/style/style.scss */
::-moz-focus-inner {
  border: 0; }

/* line 71, D:/syncdata/Downloads/wptheme/style/style.scss */
.valign {
  display: inline-block;
  vertical-align: middle;
  max-width: 98%; }

/* line 72, D:/syncdata/Downloads/wptheme/style/style.scss */
.vfix {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0; }

/* line 75, D:/syncdata/Downloads/wptheme/style/style.scss */
.valign2 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 78, D:/syncdata/Downloads/wptheme/style/style.scss */
.alignleft {
  float: left; }

/* line 79, D:/syncdata/Downloads/wptheme/style/style.scss */
.alignright {
  float: right; }

/* line 80, D:/syncdata/Downloads/wptheme/style/style.scss */
.aligncenter {
  margin-left: auto;
  margin-right: auto; }

/* line 81, D:/syncdata/Downloads/wptheme/style/style.scss */
img.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block; }

/* line 83, D:/syncdata/Downloads/wptheme/style/style.scss */
.googlemap img {
  max-width: none; }

/* line 85, D:/syncdata/Downloads/wptheme/style/style.scss */
hr {
  background: #e1e1e1;
  height: 1px;
  border: 0 none;
  display: block;
  clear: both;
  margin: 20px 0; }

/* line 93, D:/syncdata/Downloads/wptheme/style/style.scss */
strong {
  font-weight: 700; }

/* line 95, D:/syncdata/Downloads/wptheme/style/style.scss */
.fullframe {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
  z-index: 0; }
  /* line 97, D:/syncdata/Downloads/wptheme/style/style.scss */
  .fullframe > iframe, .fullframe > object, .fullframe > embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }

/* line 100, D:/syncdata/Downloads/wptheme/style/style.scss */
input[type="submit"] {
  cursor: pointer; }

/* line 101, D:/syncdata/Downloads/wptheme/style/style.scss */
textarea, button, a, input {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/* line 103, D:/syncdata/Downloads/wptheme/style/style.scss */
body {
  position: relative;
  font: 400 14px/20px 'Arial', sans-serif;
  color: #2e3a4a; }

/* line 108, D:/syncdata/Downloads/wptheme/style/style.scss */
.row {
  margin: 0 auto;
  max-width: 96%;
  position: relative;
  width: 960px; }

/* line 115, D:/syncdata/Downloads/wptheme/style/style.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 118, D:/syncdata/Downloads/wptheme/style/style.scss */
.hidden {
  height: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  width: 0; }

/* line 127, D:/syncdata/Downloads/wptheme/style/style.scss */
.wpcf7 .screen-reader-response {
  display: none !important; }
/* line 128, D:/syncdata/Downloads/wptheme/style/style.scss */
.wpcf7 .wpcf7-not-valid-tip {
  background: #eee;
  color: #ff5f5f;
  font: 400 12px/45px 'Arial', sans-serif;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0; }
/* line 138, D:/syncdata/Downloads/wptheme/style/style.scss */
.wpcf7 .wpcf7-response-output {
  background: #fff;
  padding: 2%;
  float: left;
  width: 96%;
  display: none;
  margin: 20px 0;
  text-align: center;
  font: 400 12px/20px 'Arial', sans-serif; }
  /* line 147, D:/syncdata/Downloads/wptheme/style/style.scss */
  .wpcf7 .wpcf7-response-output.wpcf7-validation-errors {
    background: #FF5F5F;
    color: #fff; }
  /* line 151, D:/syncdata/Downloads/wptheme/style/style.scss */
  .wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ng {
    background: #1091ae;
    color: #fff; }
  /* line 155, D:/syncdata/Downloads/wptheme/style/style.scss */
  .wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ok {
    background: #16A085;
    color: #fff; }
/* line 160, D:/syncdata/Downloads/wptheme/style/style.scss */
.wpcf7 .wpcf7-form-control-wrap {
  display: block !important;
  position: relative; }
/* line 164, D:/syncdata/Downloads/wptheme/style/style.scss */
.wpcf7 .ajax-loader {
  background: #fff;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin: 0 -10px 0 10px;
  padding: 5px;
  vertical-align: middle; }
/* line 176, D:/syncdata/Downloads/wptheme/style/style.scss */
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"], .wpcf7 input[type="password"], .wpcf7 textarea {
  margin: 0 auto 17px;
  width: 100%;
  border: 0;
  height: 44px;
  padding: 0 12px;
  font: 300 14px 'Arial', sans-serif;
  display: block; }
/* line 189, D:/syncdata/Downloads/wptheme/style/style.scss */
.wpcf7 textarea {
  resize: none;
  overflow: auto;
  height: 100px;
  padding: 10px;
  line-height: 20px; }

/* line 198, D:/syncdata/Downloads/wptheme/style/style.scss */
footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden; }

/* WooCommerce Custom Styles
#customer_details {
    margin: 30px 0 0;
}
.col2-set {
    &:after {
        clear: both;
        content: '.';
        font: 400 0/0 'Arial';
        display: block;
    }
    .col-1 {
        float: left
    }
    .col-2 {
        float: right
    }
    > div {
        width: 49%;
    }
}

.form-row {
    label {
        display: block;
        font: 400 16px $font;
        padding: 0 0 10px
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        border: 1px solid #eee;
        @include border-radius(5px);
        color: #555;
        display: block;
        font: 400 14px/40px $font;
        height: 40px;
        padding: 0 20px;
        width: 100%;
        &:focus {
            border-color: #4f91cd;
            color: #4f91cd;
        }
    }
    textarea {
        height: 130px;
        line-height: 20px;
        overflow: hidden;
        padding: 10px;
        resize: none;
    }
    abbr {
        border: 0;
        color: #e74c3c;
        font-size: 16px;
    }
    input#billing_state + span {
        display: none;
    }
}
.woocommerce-error {
    margin: 0;
    li {
        background: #fff;
        border: 1px solid #ef4036;
        @include border-radius(5px);
        color: #ef4036 !important;
        display: block;
        font: 400 14px/38px $font !important;
        list-style: none !important;
        margin: 20px 0 0;
        text-align: center;
    }
}
.shop_table {
    width: 100%;
    tr {
        th {
            background: #4f91cd;
            border: 1px solid #3979b2;
            color: #fff;
            font: 700 24px $proxima;
            padding: 10px;
            text-transform: uppercase;
            &.product-remove {
                border-right: 0;
                a.remove {
                    background: #ef4036;
                    color: #fff;
                    display: block;
                    font: 700 20px/21px $font;
                    margin: 0 auto;
                    text-align: center;
                    text-decoration: none;
                    width: 21px;
                }
            }
            &.product-thumbnail {
                border-left: 0
            }
        }
        td {
            background: #fff;
            border: 1px solid #3979b2;
            padding: 10px;
            p {padding: 0}
            &.product-thumbnail {
                padding: 0;
                width: 90px;
                a, img {display: block}
            }
            &.product-price {
                text-align: center;
            }
            &.product-quantity {
                text-align: center;
                width: 120px;
                .quantity {
                    display: inline-block;
                    position: relative;
                    width: 100px;
                    input[type="button"] {
                        background: #77bd1f;
                        border: 0;
                        color: #fff;
                        cursor: pointer;
                        font-weight: 700;
                        height: 20px;
                        line-height: 20px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 20px;
                        &.minus {
                            bottom: 0;
                            top: auto;
                        }
                    }
                    input[type="number"] {
                        border: 1px solid #eee;
                        @include border-radius(5px);
                        color: #555;
                        display: block;
                        font: 400 14px/40px $font;
                        height: 40px;
                        padding: 0 20px;
                        width: 100%;
                        -moz-appearance:textfield;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }
                        &:focus {
                            border-color: #598e17;
                            color: #598e17
                        }
                    }
                }
            }
            &.actions {
                border: 0;
                text-align: right;
                padding: 10px 0;
            }
        }
    }
}
.cart-collaterals {
    table {
        table-layout: fixed;
        text-align: left;
        max-width: 100%;
        width: 540px;
        td {
            padding: 10px;
            font-size: 16px
        }
    }
    .cart_totals {
        &:after {
            clear: both;
            content: '.';
            font: 400 0/0 'Arial';
            display: block;
        }
    }
}
.woocommerce-message {
    border: 1px solid #eee;
    border-radius: 5px;
    display: block;
    margin: 0 0 20px;
    padding: 20px;
    vertical-align: middle;
    .button {
        margin-right: 20px;
    }
}
#payment {
    margin-top: 30px;
    .payment_methods {
        margin: 0 0 30px;
        li {
            list-style: none;
            input {
                display: none;
                & + label {
                    background: #eee;
                    color: #4f91cd;
                    cursor: pointer;
                    display: inline-block;
                    font: 500 15px/40px $font;
                    height: 40px;
                    letter-spacing: 1.666px;
                    margin-bottom: 20px;
                    max-width: 100%;
                    padding: 0 20px;
                    text-decoration: none;
                    width: 310px;
                    &:hover {
                        background: #3979b2;
                    }
                    img {
                        float: right;
                        position: relative;
                        right: -10px;
                        top: 8px
                    }
                }
                &:checked {
                    & + label {
                        background: #4f91cd;
                        color: #fff
                    }
                }
            }
        }
    }
}

/* End WooCommerce */
/* line 449, D:/syncdata/Downloads/wptheme/style/style.scss */
.selbel_w {
  position: relative;
  display: block;
  width: 100%;
  font: 400 14px/40px 'Arial', sans-serif;
  height: 40px; }
  /* line 455, D:/syncdata/Downloads/wptheme/style/style.scss */
  .selbel_w select {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    /* line 464, D:/syncdata/Downloads/wptheme/style/style.scss */
    .selbel_w select + span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      color: #555;
      padding: 0 10px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #eee; }
      /* line 475, D:/syncdata/Downloads/wptheme/style/style.scss */
      .selbel_w select + span:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 5px 0 5px;
        border-color: #555 transparent transparent transparent;
        position: absolute;
        right: 13px;
        top: 16px; }
      /* line 486, D:/syncdata/Downloads/wptheme/style/style.scss */
      .selbel_w select + span:before {
        background: #eee;
        bottom: 7px;
        content: "";
        position: absolute;
        right: 35px;
        top: 7px;
        width: 1px; }
      /* line 495, D:/syncdata/Downloads/wptheme/style/style.scss */
      .selbel_w select + span.err {
        border-color: #ef4036; }
    /* line 499, D:/syncdata/Downloads/wptheme/style/style.scss */
    .selbel_w select option {
      padding: 5px; }


/*# sourceMappingURL=style.css.map */