@import "../style/sweetAlert";
@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('fonts/#{$font-filename}.eot');
        src: url('fonts/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
            url('fonts/#{$font-filename}.woff') format('woff'),
            url('fonts/#{$font-filename}.ttf') format('truetype'),
            url('fonts/#{$font-filename}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style
    }
}
@mixin svg-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('fonts/#{$font-filename}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style
    }
}
/* Usage
@include declare-font-face('FontName', 'font-filename', 400);

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @include svg-font-face('FontName', 'font-filename', 400);
}
*/

$font: 'Arial', sans-serif;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin box-sizing($s) {
    -webkit-box-sizing: $s;
    -moz-box-sizing: $s;
    -ms-box-sizing: $s;
    -o-box-sizing: $s;
    box-sizing: $s;
}
@mixin background-size($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -ms-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
    -ms-behavior: url(backgroundsize.min.htc);
}
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow:$shadow;
}
@mixin transition($property: all, $duration: .5s, $easing: ease) {
    -webkit-transition: $property $duration $easing;
    -moz-transition: $property $duration $easing;
    -ms-transition: $property $duration $easing;
    -o-transition: $property $duration $easing;
    transition: $property $duration $easing;
}
@mixin position($position: relative, $top:0, $right:0, $bottom:0, $left:0) {
    position: $position;
    top: $top;
    right: $right;
    left: $left;
    bottom: $bottom;
}
@mixin transform($action, $backface: false) {
    @if $backface {
        -webkit-transform: $action;
        -moz-transform: $action;
        -ms-transform: $action;
        -o-transform: $action;
        transform: $action;
        -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
    } @else {
        -webkit-transform: $action;
        -moz-transform: $action;
        -ms-transform: $action;
        -o-transform: $action;
        transform: $action;
    }
}
@mixin user-select($select) {
    -webkit-touch-callout: $select;
    -webkit-user-select: $select;
    -khtml-user-select: $select;
    -moz-user-select: $select;
    -ms-user-select: $select;
    user-select: $select;
}
@mixin scale($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    -o-transform: scale($scale);
    transform: scale($scale);
}
@mixin gradient( $start: #f1f1f1, $from: 0%, $stop: #d9d9d9, $to: 100% ) {
    background: $start;
    background: -webkit-gradient(linear, left top, left bottom, from(ie-hex-str($start)), to(ie-hex-str($stop)));
    background: -moz-linear-gradient(center top, $start $from, $stop $to);
    background: -moz-gradient(center top, $start $from, $stop $to);
    background: -webkit-linear-gradient(top, $start $from,$stop $to);
    background: -o-linear-gradient(top, $start $from,$stop $to);
    background: -ms-linear-gradient(top, $start $from,$stop $to);
    background: linear-gradient(to bottom, $start $from,$stop $to);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str($start)}', endColorstr='#{ie-hex-str($stop)}',GradientType=0 );
}
@mixin cfx(){
    &:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
}
@mixin imagenize(){
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

//custom reset
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display: block}
audio, canvas, video, progress {vertical-align: baseline; display: inline-block;*display: inline;*zoom: 1}
audio:not([controls]), [hidden], template {display: none;height: 0}
mark {background: none}
sub, sup {position: relative;font-size: 75%;line-height: 0;vertical-align: baseline}
sup {top: -.5em}
sub {bottom: -.25em}
pre {overflow: auto}
code, kbd, pre, samp {font-family: monospace, monospace;font-size: 1em}
html, body {height: 100%;margin: 0}
html {
    > body {
        height: auto;
        min-height: 100%
    }
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none
}
a {
    color: #00c2cb;
    text-decoration: none;
    outline: 0 none;
    &:hover {
        outline: 0 none;
    }
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='color'],
input[type='url'],
input[type='image'],
input[type='tel'],
input[type='submit'],
input[type='file'],
input[type='range'],
input[type='reset'],
input[type='button'],
input[type='search'],
button,
textarea,
select {
    -webkit-appearance: none;
    outline: 0 none;
    @include box-sizing(border-box);
}

* {margin: 0;padding: 0;border-collapse: collapse; -webkit-tap-highlight-color: rgba(0,0,0,0)}
img {max-width: 100%;height: auto;width: auto\9}
a > img {border: 0}
p {padding-bottom: 20px}
ul, ol {list-style: none}
#wrap {min-height: 100%}

//clearfix
.clear {clear: both}
.cfx:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0}
html[xmlns] .cfx {display: block}
* html .cfx {height: 1%}
//selection
::-moz-selection {color: #fff;background: #00c2cb}
::selection {color: #fff;background: #00c2cb}
// Vertical align inside DIV
// <span class="valign">Some content</span>
// <span class="vfix"></span>

.valign {display: inline-block;vertical-align: middle; max-width: 98%}
.vfix {display: inline-block;height: 100%;vertical-align: middle;width: 0}

// Parent of .valign must have fixed height
.valign2 {position: relative;top: 50%;@include transform(translateY(-50%))}

// Wordpress classes
.alignleft {float: left}
.alignright {float: right}
.aligncenter {margin-left: auto;margin-right: auto}
img.aligncenter {margin-left: auto;margin-right: auto;display: block}

.googlemap img {max-width: none}

hr {
    background: #e1e1e1;
    height: 1px;
    border: 0 none;
    display: block;
    clear: both;
    margin: 20px 0;
}
strong {font-weight: 700}
// fullframe video
.fullframe {height: 0;margin: 0;overflow: hidden;padding-bottom: 56.25%;padding-top: 30px;position: relative;z-index: 0;
    > {
        iframe, object, embed {height: 100%;left: 0;position: absolute;top: 0;width: 100%;z-index: -1;}
    }
}
input[type="submit"] {cursor: pointer}
textarea, button, a, input {@include transition(all, .5s)}

body {
    position: relative;
    font: 400 14px/20px $font;
    color: #2e3a4a;
}
.row {
    margin: 0 auto;
    max-width: 96%;
    position: relative;
    width: 960px;
}

.wpcf7 {
    .screen-reader-response {display: none !important}
    .wpcf7-not-valid-tip {
        background: #eee;
        color: #ff5f5f;
        font: 500 12px/45px 'Museo Sans';
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
    }
    .wpcf7-response-output {
        background:#fff;
        padding:2%;
        float:left;
        width:96%;
        display:none;
        margin: 20px 0;
        text-align:center;
        &.wpcf7-validation-errors {
            background:#FF5F5F;
            color:#fff
        }
        &.wpcf7-mail-sent-ng {
            background:#1091ae;
            color:#fff
        }
        &.wpcf7-mail-sent-ok {
            background:#16A085;
            color:#fff
        }
    }
    .wpcf7-form-control-wrap {
        display: block !important;
        position: relative;
    }
}

footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

/* WooCommerce Custom Styles
#customer_details {
    margin: 30px 0 0;
}
.col2-set {
    &:after {
        clear: both;
        content: '.';
        font: 400 0/0 'Arial';
        display: block;
    }
    .col-1 {
        float: left
    }
    .col-2 {
        float: right
    }
    > div {
        width: 49%;
    }
}

.form-row {
    label {
        display: block;
        font: 400 16px $font;
        padding: 0 0 10px
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        border: 1px solid #eee;
        @include border-radius(5px);
        color: #555;
        display: block;
        font: 400 14px/40px $font;
        height: 40px;
        padding: 0 20px;
        width: 100%;
        &:focus {
            border-color: #4f91cd;
            color: #4f91cd;
        }
    }
    textarea {
        height: 130px;
        line-height: 20px;
        overflow: hidden;
        padding: 10px;
        resize: none;
    }
    abbr {
        border: 0;
        color: #e74c3c;
        font-size: 16px;
    }
    input#billing_state + span {
        display: none;
    }
}
.woocommerce-error {
    margin: 0;
    li {
        background: #fff;
        border: 1px solid #ef4036;
        @include border-radius(5px);
        color: #ef4036 !important;
        display: block;
        font: 400 14px/38px $font !important;
        list-style: none !important;
        margin: 20px 0 0;
        text-align: center;
    }
}
.shop_table {
    width: 100%;
    tr {
        th {
            background: #4f91cd;
            border: 1px solid #3979b2;
            color: #fff;
            font: 700 24px $proxima;
            padding: 10px;
            text-transform: uppercase;
            &.product-remove {
                border-right: 0;
                a.remove {
                    background: #ef4036;
                    color: #fff;
                    display: block;
                    font: 700 20px/21px $font;
                    margin: 0 auto;
                    text-align: center;
                    text-decoration: none;
                    width: 21px;
                }
            }
            &.product-thumbnail {
                border-left: 0
            }
        }
        td {
            background: #fff;
            border: 1px solid #3979b2;
            padding: 10px;
            p {padding: 0}
            &.product-thumbnail {
                padding: 0;
                width: 90px;
                a, img {display: block}
            }
            &.product-price {
                text-align: center;
            }
            &.product-quantity {
                text-align: center;
                width: 120px;
                .quantity {
                    display: inline-block;
                    position: relative;
                    width: 100px;
                    input[type="button"] {
                        background: #77bd1f;
                        border: 0;
                        color: #fff;
                        cursor: pointer;
                        font-weight: 700;
                        height: 20px;
                        line-height: 20px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 20px;
                        &.minus {
                            bottom: 0;
                            top: auto;
                        }
                    }
                    input[type="number"] {
                        border: 1px solid #eee;
                        @include border-radius(5px);
                        color: #555;
                        display: block;
                        font: 400 14px/40px $font;
                        height: 40px;
                        padding: 0 20px;
                        width: 100%;
                        -moz-appearance:textfield;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }
                        &:focus {
                            border-color: #598e17;
                            color: #598e17
                        }
                    }
                }
            }
            &.actions {
                border: 0;
                text-align: right;
                padding: 10px 0;
            }
        }
    }
}
.cart-collaterals {
    table {
        table-layout: fixed;
        text-align: left;
        max-width: 100%;
        width: 540px;
        td {
            padding: 10px;
            font-size: 16px
        }
    }
    .cart_totals {
        &:after {
            clear: both;
            content: '.';
            font: 400 0/0 'Arial';
            display: block;
        }
    }
}
.woocommerce-message {
    border: 1px solid #eee;
    border-radius: 5px;
    display: block;
    margin: 0 0 20px;
    padding: 20px;
    vertical-align: middle;
    .button {
        margin-right: 20px;
    }
}
#payment {
    margin-top: 30px;
    .payment_methods {
        margin: 0 0 30px;
        li {
            list-style: none;
            input {
                display: none;
                & + label {
                    background: #eee;
                    color: #4f91cd;
                    cursor: pointer;
                    display: inline-block;
                    font: 500 15px/40px $font;
                    height: 40px;
                    letter-spacing: 1.666px;
                    margin-bottom: 20px;
                    max-width: 100%;
                    padding: 0 20px;
                    text-decoration: none;
                    width: 310px;
                    &:hover {
                        background: #3979b2;
                    }
                    img {
                        float: right;
                        position: relative;
                        right: -10px;
                        top: 8px
                    }
                }
                &:checked {
                    & + label {
                        background: #4f91cd;
                        color: #fff
                    }
                }
            }
        }
    }
}

/* End WooCommerce */

.selbel_w {
    position:relative;
    display:block;
    width:100%;
    font: 400 14px/40px $font;
    height: 40px;
    select {
        width:100%;
        height:100%;
        cursor:pointer;
        position:relative;
        display:block;
        z-index:1;
        opacity:0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        + span {
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background:#fff;
            color:#555;
            padding:0 10px;
            @include border-radius(5px);
            border: 1px solid #eee;
            &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 9px 5px 0 5px;
                border-color: #555 transparent transparent transparent;
                position: absolute;
                right: 13px;
                top: 16px;
            }
            &:before {
                background: #eee;
                bottom: 7px;
                content: "";
                position: absolute;
                right: 35px;
                top: 7px;
                width: 1px;
            }
            &.err {
                border-color: #ef4036
            }
        }
        option {
            padding: 5px
        }
    }
}


@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 960px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 640px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 320px) {

}
// SweetAlert
// 2014 (c) - Tristan Edwards
// github.com/t4t5/sweetalert

.sweet-overlay {
    background-color: rgba(black, 0.4);
    @include position(fixed);
    display: none;
    z-index: 10000
}
.sweet-alert {
    $width: 478px;
    $padding: 17px;
    background-color: white;
    font-family: $font;
    width: $width;
    padding: $padding;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -($width/2 + $padding);
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 99999;
    @media all and (max-width: 540px) {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        left: 15px;
        right: 15px;
    }
    h2 {
        color: #575757;
        font-size: 30px;
        text-align: center;
        font-weight: 600;
        text-transform: none;
        position: relative;
        margin: 25px 0;
        padding: 0;
        line-height: 40px;
        display: block;
    }
    p {
        color: #797979;
        font-size: 16px;
        text-align: center;
        font-weight: 300;
        position: relative;
        text-align: inherit;
        float: none;
        margin: 0;
        padding: 0;
        line-height: normal;
    }
    button {
        $btnBlue: #AEDEF4;
        $btnGray: #D0D0D0;
        background-color: $btnBlue;
        color: white;
        border: none;
        box-shadow: none;
        font-size: 17px;
        font-weight: 500;
        border-radius: 5px;
        padding: 10px 32px;
        margin: 26px 5px 0 5px;
        cursor: pointer;
        &:focus {
            outline: none;
            $sw_b = 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
            @include box-shadow($sw_b);
        }
        &:hover {
            background-color: darken($btnBlue, 3%);
        }
        &:active {
            background-color: darken($btnBlue, 10%);
        }
        &.cancel {
            background-color: $btnGray;
            &:hover {
                background-color: darken($btnGray, 3%);
            }
            &:active {
                background-color: darken($btnGray, 10%);
            }
            // Cancel button should keep the same style
            &:focus {
                $sw_b2 = rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important;
                @include box-shadow($sw_b2);
            }
        }
        // Removes selection outline in Firefox
        &::-moz-focus-inner {
            border: 0;
        }
    }

    // Only show focus-style when there is multiple choice of actions
    &[data-has-cancel-button=false] button {
        @include box-shadow(none !important);
    }
    .icon {
        $red:         #F27474;
        $orange:     #F8BB86;
        $blue:         #C9DAE1;
        $green:     #A5DC86;
        width: 80px;
        height: 80px;
        border: 4px solid gray;
        @include border-radius(50%);
        margin: 20px auto;
        padding: 0;
        position: relative;
        box-sizing: content-box;
        &.error {
            border-color: $red;
            .x-mark {
                position: relative;
                display: block;
            }
            .line {
                position: absolute;
                height: 5px;
                width: 47px;
                background-color: $red;
                display: block;
                top: 37px;
                border-radius: 2px;
                &.left {
                    @include transform(rotate(45deg));
                    left: 17px;
                }
                &.right {
                    @include transform(rotate(-45deg));
                    right: 16px;
                }
            }
        }
        &.warning {
            border-color: $orange;
            .body { // Exclamation mark body
                position: absolute;
                width: 5px;
                height: 47px;
                left: 50%;
                top: 10px;
                border-radius: 2px;
                margin-left: -2px;
                background-color: $orange;
            }
            .dot { // Exclamation mark dot
                position: absolute;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                margin-left: -3px;
                left: 50%;
                bottom: 10px;
                background-color: $orange;
            }
        }
        &.info {
            border-color: $blue;
            &::before { // i-letter body
                content: "";
                position: absolute;
                width: 5px;
                height: 29px;
                left: 50%;
                bottom: 17px;
                border-radius: 2px;
                margin-left: -2px;
                background-color: $blue;
            }
            &::after { // i-letter dot
                content: "";
                position: absolute;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                margin-left: -3px;
                top: 19px;
                background-color: $blue;
            }
        }
        &.success {
            border-color: $green;
            &::before, &::after { // Emulate moving circular line
                content: '';
                @include border-radius(50%);
                position: absolute;
                width: 60px;
                height: 120px;
                background: white;
                @include transform(rotate(45deg));
            }
            &::before {
                border-radius: 120px 0 0 120px;
                top: -7px;
                left: -33px;
                @include transform(rotate(-45deg));
                -webkit-transform-origin: 60px 60px;
                transform-origin: 60px 60px;
            }
            &::after {
                border-radius: 0 120px 120px 0;
                top: -11px;
                left: 30px;
                @include transform(rotate(-45deg));
                -webkit-transform-origin: 0px 60px;
                transform-origin: 0px 60px;
            }
            .placeholder { // Ring
                width: 80px;
                height: 80px;
                border: 4px solid rgba($green, 0.2);
                @include border-radius(50%);
                @include box-sizing:(content-box);
                position: absolute;
                left: -4px;
                top: -4px;
                z-index: 2;
            }
            .fix {    // Hide corners left from animation
                width: 5px;
                height: 90px;
                background-color: white;
                position: absolute;
                left: 28px;
                top: 8px;
                z-index: 1;
                @include transform(rotate(-45deg));
            }
            .line {
                height: 5px;
                background-color: $green;
                display: block;
                border-radius: 2px;
                position: absolute;
                z-index: 2;
                &.tip {
                    width: 25px;
                    left: 14px;
                    top: 46px;
                    @include transform(rotate(45deg));
                }
                &.long {
                    width: 47px;
                    right: 8px;
                    top: 38px;
                    @include transform(rotate(-45deg));
                }
            }
        }
        &.custom {
            background-size: contain;
            @include border-radius(0);
            border: none;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

}
/*
* Animations
*/
// Modal animation
@include keyframes(showSweetAlert) {
    0%         { transform: scale(0.7);     -webkit-transform: scale(0.7);     }
    45%     { transform: scale(1.05); -webkit-transform: scale(1.05); }
    80%     { transform: scale(0.95); -webkit-tranform: scale(0.95);     }
    100%     { transform: scale(1);         -webkit-transform: scale(1);         }
}
@include keyframes(hideSweetAlert) {
    0%         { transform: scale(1);         -webkit-transform: scale(1);         }
    100%     { transform: scale(0.5);     -webkit-transform: scale(0.5);     }
}
.showSweetAlert {
    @include animation('showSweetAlert 0.3s');
    &[data-animation=none] {
        @include animation('none');
    }
}
.hideSweetAlert {
    @include animation('hideSweetAlert 0.2s');

    &[data-animation=none] {
        @include animation('none');
    }
}
// Success icon animation
@include keyframes(animateSuccessTip) {
    0%        { width: 0;         left: 1px;         top: 19px; }
    54%        { width: 0;         left: 1px;         top: 19px; }
    70%        { width: 50px;     left: -8px;     top: 37px; }
    84%        { width: 17px;     left: 21px;     top: 48px; }
    100%    { width: 25px;     left: 14px;     top: 45px; }
}
@include keyframes(animateSuccessLong) {
    0%        { width: 0;         right: 46px;     top: 54px; }
    65%        { width: 0;         right: 46px;     top: 54px; }
    84%        { width: 55px;     right: 0px;     top: 35px; }
    100%    { width: 47px;     right: 8px;     top: 38px; }
}
@include keyframes(rotatePlaceholder) {
    0%         { transform: rotate(-45deg);     -webkit-transform: rotate(-45deg);     }
    5%         { transform: rotate(-45deg);     -webkit-transform: rotate(-45deg);        }
    12%     { transform: rotate(-405deg); -webkit-transform: rotate(-405deg);    }
    100%     { transform: rotate(-405deg); -webkit-transform: rotate(-405deg);    }
}
.animateSuccessTip {
    @include animation('animateSuccessTip 0.75s');
}
.animateSuccessLong {
    @include animation('animateSuccessLong 0.75s');
}
.icon.success.animate::after {
    @include animation('rotatePlaceholder 4.25s ease-in');
}
// Error icon animation
@include keyframes(animateErrorIcon) {
    0%        { transform: rotateX(100deg); -webkit-transform: rotateX(100deg); opacity: 0; }
    100%     { transform: rotateX(0deg);     -webkit-transform: rotateX(0deg);     opacity: 1; }
}
.animateErrorIcon {
    @include animation('animateErrorIcon 0.5s');
}
@include keyframes(animateXMark) {
    0%         { transform: scale(0.4);     -webkit-transform: scale(0.4);     margin-top: 26px;    opacity: 0; }
    50%     { transform: scale(0.4);     -webkit-transform: scale(0.4);     margin-top: 26px;    opacity: 0; }
    80%     { transform: scale(1.15); -webkit-transform: scale(1.15); margin-top: -6px;                         }
    100%     { transform: scale(1);         -webkit-transform: scale(1);        margin-top: 0;         opacity: 1; }
}
.animateXMark {
    @include animation('animateXMark 0.5s');
}

@include keyframes(pulseWarning) {
    0%        { border-color: #F8D486; }
    100%    { border-color: #F8BB86; }
}
.pulseWarning {
    @include animation('pulseWarning 0.75s infinite alternate');
}
@include keyframes(pulseWarningIns) {
    0%        { background-color: #F8D486; }
    100%    { background-color: #F8BB86; }
}
.pulseWarningIns {
    @include animation('pulseWarningIns 0.75s infinite alternate');
}
