@import 'mixins';
@import 'sweetAlert';

//custom reset
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display: block}
audio, canvas, video, progress {vertical-align: baseline; display: inline-block;*display: inline;*zoom: 1}
audio:not([controls]), [hidden], template {display: none;height: 0}
mark {background: none}
sub, sup {position: relative;font-size: 75%;line-height: 0;vertical-align: baseline}
sup {top: -.5em}
sub {bottom: -.25em}
pre {overflow: auto}
code, kbd, pre, samp {font-family: monospace, monospace;font-size: 1em}
html, body {height: 100%;margin: 0}
html {
    > body {height: auto;min-height: 100%}
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none
}
a {
    color: #3399ff;
    text-decoration: none;
    outline: 0 none;
    &:hover {outline: 0 none}
    > img {border: 0}
}
input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='color'],
input[type='url'],
input[type='image'],
input[type='tel'],
input[type='submit'],
input[type='file'],
input[type='range'],
input[type='reset'],
input[type='button'],
input[type='search'],
button,
textarea,
select {
    -webkit-appearance: none;
    outline: 0 none;
    @include box-sizing(border-box);
}

* {margin: 0;padding: 0;border-collapse: collapse; -webkit-tap-highlight-color: rgba(0,0,0,0)}
img {max-width: 100%;height: auto;width: auto\9}
p {padding-bottom: 20px}
ul, ol {list-style: none}
#wrap {min-height: 100%; overflow: hidden}

//clearfix
.clear {clear: both}
.cfx:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0}
html[xmlns] .cfx {display: block}
* html .cfx {height: 1%}

//selection
::-moz-selection {color: #fff;background: #3399ff}
::selection {color: #fff;background: #3399ff}
::-moz-focus-inner {border: 0}

// Vertical align inside DIV
// <span class="valign">Some content</span>
// <span class="vfix"></span>

.valign {display: inline-block;vertical-align: middle; max-width: 98%}
.vfix {display: inline-block;height: 100%;vertical-align: middle;width: 0}

// Parent of .valign must have fixed height
.valign2 {position: relative;top: 50%;@include transform(translateY(-50%))}

// Wordpress classes
.alignleft {float: left}
.alignright {float: right}
.aligncenter {margin-left: auto;margin-right: auto}
img.aligncenter {margin-left: auto;margin-right: auto;display: block}

.googlemap img {max-width: none}

hr {
    background: #e1e1e1;
    height: 1px;
    border: 0 none;
    display: block;
    clear: both;
    margin: 20px 0;
}

strong {font-weight: 700}

// fullframe video
.fullframe {height: 0;margin: 0;overflow: hidden;padding-bottom: 56.5%;position: relative;z-index: 0;
    > {
        iframe, object, embed {height: 100%;left: 0;position: absolute;top: 0;width: 100%;z-index: -1;}
    }
}
input[type="submit"] {cursor: pointer}
textarea, button, a, input {@include transition(all, .5s)}

body {
    position: relative;
    font: 400 15px/20px $font;
    color: #000;
}
.row {
    margin: 0 auto;
    max-width: 96%;
    position: relative;
    width: $container
}
svg:not(:root) {
    overflow: hidden;
}
.hidden {
    height: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 0;
    border: 0;
    -webkit-appearance: none;
}
.wpcf7 {
    .screen-reader-response {display: none !important}
    .wpcf7-not-valid-tip {
        background: #eee;
        color: #ff5f5f;
        font: 400 12px/45px $font;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0
    }
    .wpcf7-response-output {
        background:#fff;
        padding:2%;
        float:left;
        width:96%;
        display:none;
        margin: 20px 0;
        text-align:center;
        font: 400 12px/20px $font;
        &.wpcf7-validation-errors {
            background:#FF5F5F;
            color:#fff
        }
        &.wpcf7-mail-sent-ng {
            background:#1091ae;
            color:#fff
        }
        &.wpcf7-mail-sent-ok {
            background:#16A085;
            color:#fff
        }
    }
    .wpcf7-form-control-wrap {
        display: block !important;
        position: relative
    }
    .ajax-loader {
        background: #fff;
        @include border-radius(50%);
        display: inline-block;
        margin: 0 -20px 0 10px;
        padding: 5px;
        vertical-align: middle
    }
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    textarea {
        margin: 0 auto 17px;
        width: 100%;
        border: 0;
        height: 44px;
        padding: 0 12px;
        font: 300 14px $font;
        display: block;
        &:focus {

        }
    }

    textarea {
        resize: none;
        overflow: auto;
        height: 100px;
        padding: 10px;
        line-height: 20px
    }
}

.content {
    article[role="main"] {
        float: left;
        width: 600px / $container * 100%;
    }
    aside {
        float: right;
        width: 320px / $container * 100%;
    }
}

footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.selbel_w {
    position:relative;
    display:block;
    width:100%;
    font: 400 14px/40px $font;
    height: 40px;
    select {
        width:100%;
        height:100%;
        cursor:pointer;
        position:relative;
        display:block;
        z-index:1;
        opacity:0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        + span {
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background:#fff;
            color:#555;
            padding:0 10px;
            @include border-radius(5px);
            border: 1px solid #eee;
            &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 9px 5px 0 5px;
                border-color: #555 transparent transparent transparent;
                position: absolute;
                right: 13px;
                top: 16px;
            }
            &:before {
                background: #eee;
                bottom: 7px;
                content: "";
                position: absolute;
                right: 35px;
                top: 7px;
                width: 1px;
            }
            &.err {
                border-color: #ef4036
            }
        }
        option {
            padding: 5px
        }
    }
}


@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 960px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 640px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 320px) {

}
